body {
  font: 15px arial, sans-serif;
  background-color: #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}

#logoheader {
    background-color: #1e7abc;
    width: 100%;
    padding: 0;
    
}
#introText
{
    width: 80%;
    color: #2fbba6;
    font-weight: 600;
    font-size: 1px;
    text-align: justify;

    
     margin: auto;
  max-width: 600px;
 padding: 1em;
}

#footerText
{
    width: 80%;
    color: #2fbba6;
    font-size: 12px;
    text-align: center;
    color: dimgray;
    margin: auto;
    max-width: 600px;

}
#bodybox {
  margin: auto;
  max-width: 600px;
  font: 15px arial, sans-serif;
  background-color: white;
  border-style: solid;
  border-color: #a9a8a9;
  border-width: 1px;
  background-color: white;
}

#chatborder {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
}

.chatlog { 
   font: 15px arial, sans-serif;
   color: gray;
}

#chatbox {
  font: 17px arial, sans-serif;
  height: 22px;
  width: 100%;
}

.botChatText
{
/*
    margin-left: 70px;
    margin-top: -4em;
*/
    padding: 1em;
    margin-bottom: 1em;

    background-color: lightgray;
    
    float: left;
    clear: both;
}
.botChatAvatar 
{
    float: right;
}
    
.botChatAvatar img
{
/*
    padding-right: 50px;
}
*/


.userChatText
{
     margin-left: 0px;
    margin-top: 0em;
    background-color: lightgray;
    padding: 1em;
}
h1 {
  margin: auto;
}

pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}
